h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: beauty;
  color: white;
  font-weight: inherit;
  font-style: normal;
  display: block;
}

br {
  @media (max-width: 1920px) {
    display: none;
  }

  @media (max-width: 555px) {
    display: block;
  }
}

body {
  margin: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: playfair;
  cursor: pointer;
  transition: border-color 0.25s;
  background-repeat: repeat;
  background-image: linear-gradient(#fd8aac, #fd8aac);
  background-position: 0%;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: #fd8aac;
  color: white;
  font-size: 1em;
  text-align: center;
}

button:hover {
  border: 2px solid #fd8aac;
  color: #fd8aac;
  background-image: none;
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'beauty';
  src: url('./assets/CathyliseJanetson.otf');
}

@font-face {
  font-family: 'playfair';
  src: url('./assets/Playfair.ttf');
}
